<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Insta-app</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<style>
/* Style the body */
body {
	font-family: Arial;
	margin: 0;
}

/* Header/Logo Title */
.header {
	padding: 60px;
	text-align: center;
	background: #1abc9c;
	color: white;
	font-size: 30px;
}

/* Page Content */
.content {
	padding: 20px;
}

/* body content to center */
h1 {
	text-align: center;
}

p {
	text-align: center;
}
</style>
</head>

<body>
	<div class="header">
		<h1>InstaDetail</h1>
		<p>Get Instagram user details in seconds.</p>
	</div>
	<div class="container container-fluid">
		<h1>Enter Instagram handle</h1>
		<form action="#" th:action="@{/insta-app/user}" th:object="${user}"
			method="post">
			<p>
				Instagram Username: <input type="text" th:field="*{username}" />
			</p>
			<p>
				<input type="submit" value="Submit" /> <input type="reset"
					value="Reset" />
			</p>
		</form>
	</div>
</body>
</html>